.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 5vh;

  .skillsConHidden {
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  .skillsCon {
    transition: all 1s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    .skill {
      transition: all 0.4s ease-in-out;
      margin: 1vh;
    }
  }
  .cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    padding: 10px;

    border-radius: 8px;
    .card {
      position: relative;
      justify-self: center;
    }
    .card .front {
      visibility: hidden;
      position: absolute;
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
    .flipped .front {
      visibility: visible;
      opacity: 1;
      transition: all 0.4s ease-in-out;
    }
    .flipped .back {
      visibility: hidden;
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
    .unflipped .front {
      visibility: hidden;
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
    .unflipped .back {
      opacity: 1;
      transition: all 0.4s ease-in-out;
      visibility: visible;
    }
  }
}
