

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  cursor: pointer;
  max-width: 100vw;
  overflow-x: hidden;
  

  
  
}

body {
  
  background-image: url(../public/background.jpg);
  background-size:cover;
  
}

a {
  color: inherit;
  text-decoration: none;
}

.vName {
  color: #D8D8A4;
}
.vValue {
  color: #c58b77;
}
.variable {
  color: #4f81ba;
}
.func {
  color: #bc77d3;
}