.wrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: auto;
  color: #6b8b6e;
  font-family: "Cabin", sans-serif;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  // padding-left: 10vw;
  input[type="submit"],
  button {
    height: 40px;
    width: 150px;
    background-color: #645c8b45;
    color: #6b8b6e;
    font-family: "Cabin", sans-serif;
    font-family: "Fira Code", monospace;
    border: none;
    border-radius: 7px;
  }

  .thanksWrapper {
    border-right: 2px solid #303030;

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1 {
      color: rgb(170, 219, 159);
    }
  }

  .inputs {
    border-right: 2px solid #303030;

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    textarea,
    input {
      resize: none;
      word-wrap: break-word;
      word-break: break-all;
      height: 80px;
      padding: 1%;
      color: #6b8b6e;
      font-family: "Cabin", sans-serif;
      font-family: "Fira Code", monospace;
      gap: 20px;
      width: 40%;
      height: 42px;
      background-color: #645c8b45;
      border: none;
      border-radius: 6px;
    }

    .bigInput {
      height: 145px;
    }
  }
  .codeWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .code {
      padding: 20px;
      width: 90%;
      height: 60%;

      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

      max-width: 550px;
      /* From https://css.glass */
      background: rgba(37, 29, 51, 0.86);
      border-radius: 16px;
      box-shadow: 4px 4px 4px 4px rgba(1, 0.1, 0.1, 0.1);
      backdrop-filter: blur(6.3px);
      -webkit-backdrop-filter: blur(6.3px);
      border: 1px solid rgba(37, 29, 51, 0.43);
      border-radius: 10px;
      gap: 50px;
      display: flex;
      align-items: center;
      flex-direction: row;
      span {
        margin-top: 10px;
      }
    }
  }
}
