.wrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: auto;
  color: #6b8b6e;
  font-family: "Cabin", sans-serif;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  // padding-left: 10vw;

  .inputs {
    margin-left: 10vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    textarea {
      resize: none;
      word-wrap: break-word;
      word-break: break-all;
      height: 80px;
      padding: 1%;
      color: #6b8b6e;
      font-family: "Cabin", sans-serif;
      font-family: "Fira Code", monospace;
      gap: 20px;
      width: 40%;
      height: 42px;
      background-color: #645c8b45;
      border: none;
      border-radius: 6px;
    }

    .bigInput {
      height: 145px;
    }

    input[type="submit"] {
      height: 40px;
      width: 150px;
      background-color: #645c8b45;
      color: #6b8b6e;
      font-family: "Cabin", sans-serif;
      font-family: "Fira Code", monospace;
      border: none;
      border-radius: 7px;
    }
  }
  .codeWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .code {
      padding: 20px;
      width: 90%;
      height: 60%;

      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

      max-width: 550px;
      background: rgba(31, 26, 31, 0.75);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4.5px);
      -webkit-backdrop-filter: blur(4.5px);
      border-radius: 10px;
      gap: 50px;
      display: flex;
      align-items: center;
      flex-direction: row;
      span {
        margin-top: 10px;
      }
    }
  }
}
